In [1]:
print("hello")
from datetime import datetime
import os
import pandas as pd
from datetime import datetime, timezone, timedelta
import pytz
import re
import numpy as np
import logging

hello

In [2]:
df = pd.read_parquet('CLEANED_TIMINGS_V3_Enhanced.parquet', engine='pyarrow')

In [3]:
df

,Airline Code,Aircraft Registration,Operator,Type Code,Mode S,Serial Number,Age(years),DATE,FROM,TO,...,ATA_dwpt,ATA_rhum,ATA_prcp,ATA_snow,ATA_wdir,ATA_wspd,ATA_wpgt,ATA_pres,ATA_tsun,ATA_coco
0,3u-csc,b-30cr,Sichuan Airlines,A20N,781848,8873.0,5.0,31 Aug 2024,YIN,TFU,...,23.9,70.0,NaN,NaN,330.0,14.4,NaN,NaN,NaN,NaN
1,3u-csc,b-30cr,Sichuan Airlines,A20N,781848,8873.0,5.0,31 Aug 2024,TFU,YIN,...,7.5,62.0,NaN,NaN,45.0,9.0,NaN,1017.4,NaN,NaN
2,3u-csc,b-30cr,Sichuan Airlines,A20N,781848,8873.0,5.0,31 Aug 2024,URC,TFU,...,23.0,79.0,NaN,NaN,20.0,10.8,NaN,NaN,NaN,NaN
3,3u-csc,b-30cr,Sichuan Airlines,A20N,781848,8873.0,5.0,30 Aug 2024,TFU,URC,...,12.9,53.0,NaN,NaN,350.0,10.8,NaN,NaN,NaN,NaN
4,3u-csc,b-30cr,Sichuan Airlines,A20N,781848,8873.0,5.0,30 Aug 2024,ZHA,TFU,...,23.1,63.0,NaN,NaN,40.0,14.4,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11797410,SQ-SIA,9V-SDA,Singapore Airlines,B78X,76CC81,67157.0,0.0,25 Sep 2024,NGO,SIN,...,25.1,71.0,0.0,NaN,120.0,11.2,NaN,1011.8,NaN,3.0
11797411,SQ-SIA,9V-SDA,Singapore Airlines,B78X,76CC81,67157.0,0.0,24 Sep 2024,CHS,NGO,...,16.0,73.0,0.0,NaN,40.0,9.4,NaN,1015.0,NaN,3.0
11797412,SQ-SIA,9V-SDA,Singapore Airlines,B78X,76CC81,67157.0,0.0,10 Sep 2024,CHS,CHS,...,13.2,48.0,0.0,NaN,30.0,13.0,NaN,1019.7,NaN,2.0
11797413,SQ-SIA,9V-SDA,Singapore Airlines,B78X,76CC81,67157.0,0.0,01 Sep 2024,CHS,CHS,...,20.6,52.0,0.0,NaN,170.0,13.0,NaN,1016.7,NaN,8.0
11797414,SQ-SIA,9V-SDA,Singapore Airlines,B78X,76CC81,67157.0,0.0,31 Aug 2024,CHS,CHS,...,22.9,94.0,0.0,NaN,10.0,5.4,NaN,1018.8,NaN,7.0

In [6]:
print(df["ATA_UTC"])

0           2024-08-31 07:49:00
1           2024-08-31 00:46:00
2           2024-08-30 20:54:00
3           2024-08-30 08:22:00
4           2024-08-30 01:42:00
                   ...
11797410    2024-09-25 02:30:00
11797411    2024-09-24 19:55:00
11797412    2024-09-10 14:28:00
11797413    2024-09-01 16:19:00
11797414    2024-08-31 11:17:00
Name: ATA_UTC, Length: 11797415, dtype: object

In [7]:
df['STD_UTC'] = pd.to_datetime(df['STD_UTC'])
df['ATD_UTC'] = pd.to_datetime(df['ATD_UTC'])
df['STA_UTC'] = pd.to_datetime(df['STA_UTC'])
df['ATA_UTC'] = pd.to_datetime(df['ATA_UTC'])

In [8]:
# Print all column names in the DataFrame
print(df.columns)

Index(['Airline Code', 'Aircraft Registration', 'Operator', 'Type Code',
       'Mode S', 'Serial Number', 'Age(years)', 'DATE', 'FROM', 'TO', 'FLIGHT',
       'FLIGHT TIME(mins)', 'STD', 'ATD', 'STA', 'Color Code', 'ATA', 'STATUS',
       'FROM_LAT', 'FROM_LNG', 'FROM_GMT', 'TO_LAT', 'TO_LNG', 'TO_GMT',
       'STD_UTC', 'ATD_UTC', 'ATA_UTC', 'STA_UTC', 'Y_LABEL', 'STD_temp',
       'STD_dwpt', 'STD_rhum', 'STD_prcp', 'STD_snow', 'STD_wdir', 'STD_wspd',
       'STD_wpgt', 'STD_pres', 'STD_tsun', 'STD_coco', 'ATD_temp', 'ATD_dwpt',
       'ATD_rhum', 'ATD_prcp', 'ATD_snow', 'ATD_wdir', 'ATD_wspd', 'ATD_wpgt',
       'ATD_pres', 'ATD_tsun', 'ATD_coco', 'STA_temp', 'STA_dwpt', 'STA_rhum',
       'STA_prcp', 'STA_snow', 'STA_wdir', 'STA_wspd', 'STA_wpgt', 'STA_pres',
       'STA_tsun', 'STA_coco', 'ATA_temp', 'ATA_dwpt', 'ATA_rhum', 'ATA_prcp',
       'ATA_snow', 'ATA_wdir', 'ATA_wspd', 'ATA_wpgt', 'ATA_pres', 'ATA_tsun',
       'ATA_coco'],
      dtype='object')

In [9]:
df["Arrival_Delayed"] = df["ATA_UTC"] > df["STA_UTC"]

In [10]:
df.head()

,Airline Code,Aircraft Registration,Operator,Type Code,Mode S,Serial Number,Age(years),DATE,FROM,TO,...,ATA_rhum,ATA_prcp,ATA_snow,ATA_wdir,ATA_wspd,ATA_wpgt,ATA_pres,ATA_tsun,ATA_coco,Arrival_Delayed
0,3u-csc,b-30cr,Sichuan Airlines,A20N,781848,8873.0,5.0,31 Aug 2024,YIN,TFU,...,70.0,NaN,NaN,330.0,14.4,NaN,NaN,NaN,NaN,True
1,3u-csc,b-30cr,Sichuan Airlines,A20N,781848,8873.0,5.0,31 Aug 2024,TFU,YIN,...,62.0,NaN,NaN,45.0,9.0,NaN,1017.4,NaN,NaN,False
2,3u-csc,b-30cr,Sichuan Airlines,A20N,781848,8873.0,5.0,31 Aug 2024,URC,TFU,...,79.0,NaN,NaN,20.0,10.8,NaN,NaN,NaN,NaN,True
3,3u-csc,b-30cr,Sichuan Airlines,A20N,781848,8873.0,5.0,30 Aug 2024,TFU,URC,...,53.0,NaN,NaN,350.0,10.8,NaN,NaN,NaN,NaN,False
4,3u-csc,b-30cr,Sichuan Airlines,A20N,781848,8873.0,5.0,30 Aug 2024,ZHA,TFU,...,63.0,NaN,NaN,40.0,14.4,NaN,NaN,NaN,NaN,False

In [11]:
print(df["STATUS"].unique())

['Landed' 'Unknown' 'Diverted' 'Canceled']

In [17]:
conditions = [
    (df['STATUS'] == 'Canceled'),
    (df['ATD_UTC'] > df['STD_UTC'])
]

# Choices
choices = [
    'Cancelled',
    'Departure Delayed'
]

default = 'Departure On Time'

In [18]:
df['Departure_Status'] = np.select(conditions, choices, default=default)

In [19]:
df.head()

,Airline Code,Aircraft Registration,Operator,Type Code,Mode S,Serial Number,Age(years),DATE,FROM,TO,...,ATA_prcp,ATA_snow,ATA_wdir,ATA_wspd,ATA_wpgt,ATA_pres,ATA_tsun,ATA_coco,Arrival_Delayed,Departure_Status
0,3u-csc,b-30cr,Sichuan Airlines,A20N,781848,8873.0,5.0,31 Aug 2024,YIN,TFU,...,NaN,NaN,330.0,14.4,NaN,NaN,NaN,NaN,True,Departure Delayed
1,3u-csc,b-30cr,Sichuan Airlines,A20N,781848,8873.0,5.0,31 Aug 2024,TFU,YIN,...,NaN,NaN,45.0,9.0,NaN,1017.4,NaN,NaN,False,Departure Delayed
2,3u-csc,b-30cr,Sichuan Airlines,A20N,781848,8873.0,5.0,31 Aug 2024,URC,TFU,...,NaN,NaN,20.0,10.8,NaN,NaN,NaN,NaN,True,Departure Delayed
3,3u-csc,b-30cr,Sichuan Airlines,A20N,781848,8873.0,5.0,30 Aug 2024,TFU,URC,...,NaN,NaN,350.0,10.8,NaN,NaN,NaN,NaN,False,Departure Delayed
4,3u-csc,b-30cr,Sichuan Airlines,A20N,781848,8873.0,5.0,30 Aug 2024,ZHA,TFU,...,NaN,NaN,40.0,14.4,NaN,NaN,NaN,NaN,False,Departure Delayed

In [20]:
print(df["Departure_Status"].unique())

['Departure Delayed' 'Departure On Time' 'Cancelled']

In [21]:
df.to_parquet('CLEANED_V4.parquet', engine='pyarrow', index=False)

# Fill NA Values of weather data (Skip)

In [3]:
df = pd.read_parquet('CLEANED_V4.parquet', engine='pyarrow')

In [22]:
print(df.columns)

Index(['Airline Code', 'Aircraft Registration', 'Operator', 'Type Code',
       'Mode S', 'Serial Number', 'Age(years)', 'DATE', 'FROM', 'TO', 'FLIGHT',
       'FLIGHT TIME(mins)', 'STD', 'ATD', 'STA', 'Color Code', 'ATA', 'STATUS',
       'FROM_LAT', 'FROM_LNG', 'FROM_GMT', 'TO_LAT', 'TO_LNG', 'TO_GMT',
       'STD_UTC', 'ATD_UTC', 'ATA_UTC', 'STA_UTC', 'Y_LABEL', 'STD_temp',
       'STD_dwpt', 'STD_rhum', 'STD_prcp', 'STD_snow', 'STD_wdir', 'STD_wspd',
       'STD_wpgt', 'STD_pres', 'STD_tsun', 'STD_coco', 'ATD_temp', 'ATD_dwpt',
       'ATD_rhum', 'ATD_prcp', 'ATD_snow', 'ATD_wdir', 'ATD_wspd', 'ATD_wpgt',
       'ATD_pres', 'ATD_tsun', 'ATD_coco', 'STA_temp', 'STA_dwpt', 'STA_rhum',
       'STA_prcp', 'STA_snow', 'STA_wdir', 'STA_wspd', 'STA_wpgt', 'STA_pres',
       'STA_tsun', 'STA_coco', 'ATA_temp', 'ATA_dwpt', 'ATA_rhum', 'ATA_prcp',
       'ATA_snow', 'ATA_wdir', 'ATA_wspd', 'ATA_wpgt', 'ATA_pres', 'ATA_tsun',
       'ATA_coco', 'Arrival_Delayed', 'Departure_Status'],
      dtype='object')

In [23]:
columns_to_fill = ['STD_temp',
       'STD_dwpt', 'STD_rhum', 'STD_prcp', 'STD_snow', 'STD_wdir', 'STD_wspd',
       'STD_wpgt', 'STD_pres', 'STD_tsun', 'STD_coco', 'ATD_temp', 'ATD_dwpt',
       'ATD_rhum', 'ATD_prcp', 'ATD_snow', 'ATD_wdir', 'ATD_wspd', 'ATD_wpgt',
       'ATD_pres', 'ATD_tsun', 'ATD_coco', 'STA_temp', 'STA_dwpt', 'STA_rhum',
       'STA_prcp', 'STA_snow', 'STA_wdir', 'STA_wspd', 'STA_wpgt', 'STA_pres',
       'STA_tsun', 'STA_coco', 'ATA_temp', 'ATA_dwpt', 'ATA_rhum', 'ATA_prcp',
       'ATA_snow', 'ATA_wdir', 'ATA_wspd', 'ATA_wpgt', 'ATA_pres', 'ATA_tsun',
       'ATA_coco',]

In [24]:
print(len(columns_to_fill))

44

In [25]:
for column in columns_to_fill:
    df[column] = df[column].fillna(0)

In [26]:
df

,Airline Code,Aircraft Registration,Operator,Type Code,Mode S,Serial Number,Age(years),DATE,FROM,TO,...,ATA_prcp,ATA_snow,ATA_wdir,ATA_wspd,ATA_wpgt,ATA_pres,ATA_tsun,ATA_coco,Arrival_Delayed,Departure_Status
0,3u-csc,b-30cr,Sichuan Airlines,A20N,781848,8873.0,5.0,31 Aug 2024,YIN,TFU,...,0.0,0.0,330.0,14.4,0.0,0.0,0.0,0.0,True,Departure Delayed
1,3u-csc,b-30cr,Sichuan Airlines,A20N,781848,8873.0,5.0,31 Aug 2024,TFU,YIN,...,0.0,0.0,45.0,9.0,0.0,1017.4,0.0,0.0,False,Departure Delayed
2,3u-csc,b-30cr,Sichuan Airlines,A20N,781848,8873.0,5.0,31 Aug 2024,URC,TFU,...,0.0,0.0,20.0,10.8,0.0,0.0,0.0,0.0,True,Departure Delayed
3,3u-csc,b-30cr,Sichuan Airlines,A20N,781848,8873.0,5.0,30 Aug 2024,TFU,URC,...,0.0,0.0,350.0,10.8,0.0,0.0,0.0,0.0,False,Departure Delayed
4,3u-csc,b-30cr,Sichuan Airlines,A20N,781848,8873.0,5.0,30 Aug 2024,ZHA,TFU,...,0.0,0.0,40.0,14.4,0.0,0.0,0.0,0.0,False,Departure Delayed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11797410,SQ-SIA,9V-SDA,Singapore Airlines,B78X,76CC81,67157.0,0.0,25 Sep 2024,NGO,SIN,...,0.0,0.0,120.0,11.2,0.0,1011.8,0.0,3.0,False,Departure On Time
11797411,SQ-SIA,9V-SDA,Singapore Airlines,B78X,76CC81,67157.0,0.0,24 Sep 2024,CHS,NGO,...,0.0,0.0,40.0,9.4,0.0,1015.0,0.0,3.0,True,Departure Delayed
11797412,SQ-SIA,9V-SDA,Singapore Airlines,B78X,76CC81,67157.0,0.0,10 Sep 2024,CHS,CHS,...,0.0,0.0,30.0,13.0,0.0,1019.7,0.0,2.0,True,Departure Delayed
11797413,SQ-SIA,9V-SDA,Singapore Airlines,B78X,76CC81,67157.0,0.0,01 Sep 2024,CHS,CHS,...,0.0,0.0,170.0,13.0,0.0,1016.7,0.0,8.0,True,Departure Delayed
11797414,SQ-SIA,9V-SDA,Singapore Airlines,B78X,76CC81,67157.0,0.0,31 Aug 2024,CHS,CHS,...,0.0,0.0,10.0,5.4,0.0,1018.8,0.0,7.0,True,Departure Delayed

In [27]:
df.to_parquet('CLEANED_V5.parquet', engine='pyarrow', index=False)

## Skip till here

In [4]:
df['Airline Code'] = df['Airline Code'].astype('category')
df['Aircraft Registration'] = df['Aircraft Registration'].astype('category')
df['Operator'] = df['Operator'].astype('category')
df['Type Code'] = df['Type Code'].astype('category')
df['Mode S'] = df['Mode S'].astype('category')

In [5]:
df['Arrival_Delayed'] = df['Arrival_Delayed'].astype('category')

In [6]:
df['Serial Number'] =df['Serial Number'].astype('category')

In [7]:
df['Age(years)'] = pd.to_numeric(df['Age(years)'], errors='coerce').astype('float32')

In [8]:
print(df.columns)

Index(['Airline Code', 'Aircraft Registration', 'Operator', 'Type Code',
       'Mode S', 'Serial Number', 'Age(years)', 'DATE', 'FROM', 'TO', 'FLIGHT',
       'FLIGHT TIME(mins)', 'STD', 'ATD', 'STA', 'Color Code', 'ATA', 'STATUS',
       'FROM_LAT', 'FROM_LNG', 'FROM_GMT', 'TO_LAT', 'TO_LNG', 'TO_GMT',
       'STD_UTC', 'ATD_UTC', 'ATA_UTC', 'STA_UTC', 'Y_LABEL', 'STD_temp',
       'STD_dwpt', 'STD_rhum', 'STD_prcp', 'STD_snow', 'STD_wdir', 'STD_wspd',
       'STD_wpgt', 'STD_pres', 'STD_tsun', 'STD_coco', 'ATD_temp', 'ATD_dwpt',
       'ATD_rhum', 'ATD_prcp', 'ATD_snow', 'ATD_wdir', 'ATD_wspd', 'ATD_wpgt',
       'ATD_pres', 'ATD_tsun', 'ATD_coco', 'STA_temp', 'STA_dwpt', 'STA_rhum',
       'STA_prcp', 'STA_snow', 'STA_wdir', 'STA_wspd', 'STA_wpgt', 'STA_pres',
       'STA_tsun', 'STA_coco', 'ATA_temp', 'ATA_dwpt', 'ATA_rhum', 'ATA_prcp',
       'ATA_snow', 'ATA_wdir', 'ATA_wspd', 'ATA_wpgt', 'ATA_pres', 'ATA_tsun',
       'ATA_coco', 'Arrival_Delayed', 'Departure_Status'],
      dtype='object')

In [12]:
print(df["STATUS"].unique())

['Landed' 'Unknown' 'Diverted' 'Canceled']

In [16]:
df_filtered = df[df["STD_UTC"].isna() & (df["STATUS"] != "canceled")]
df_filtered[["STD_UTC", "FROM", "TO","STD", "Departure_Status"]]

         STD_UTC  FROM    TO       STD   Departure_Status
269          NaT  None   URC      None  Departure On Time
557          NaT  None  None  06:38:00  Departure On Time
621          NaT  None  None      None  Departure On Time
694          NaT  None   XUZ      None  Departure On Time
757          NaT  None   CTU      None  Departure On Time
...          ...   ...   ...       ...                ...
11787816     NaT  None  None      None  Departure On Time
11788763     NaT  None  None      None  Departure On Time
11789973     NaT  None  None      None  Departure On Time
11790134     NaT  None  None      None  Departure On Time
11795442     NaT  None  None      None  Departure On Time

[50294 rows x 5 columns]

In [17]:
df_filtered

,Airline Code,Aircraft Registration,Operator,Type Code,Mode S,Serial Number,Age(years),DATE,FROM,TO,...,ATA_prcp,ATA_snow,ATA_wdir,ATA_wspd,ATA_wpgt,ATA_pres,ATA_tsun,ATA_coco,Arrival_Delayed,Departure_Status
269,3u-csc,b-30cr,Sichuan Airlines,A20N,781848,8873.0,5.0,28 Feb 2024,None,URC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,Departure On Time
557,3u-csc,b-320u,Sichuan Airlines,A20N,781A6C,10286.0,4.0,08 Aug 2024,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,Departure On Time
621,3u-csc,b-320u,Sichuan Airlines,A20N,781A6C,10286.0,4.0,24 Jul 2024,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,Departure On Time
694,3u-csc,b-320u,Sichuan Airlines,A20N,781A6C,10286.0,4.0,05 Jul 2024,None,XUZ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,Departure On Time
757,3u-csc,b-320u,Sichuan Airlines,A20N,781A6C,10286.0,4.0,13 May 2024,None,CTU,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,Departure On Time
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11787816,SQ-SIA,9V-SCO,Singapore Airlines,B78X,76CC6F,60264.0,5.0,03 Feb 2024,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,Departure On Time
11788763,SQ-SIA,9V-SCP,Singapore Airlines,B78X,76CC70,60266.0,4.0,05 Mar 2024,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,Departure On Time
11789973,SQ-SIA,9V-SCR,Singapore Airlines,B78X,76CC72,60269.0,3.0,29 May 2024,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,Departure On Time
11790134,SQ-SIA,9V-SCR,Singapore Airlines,B78X,76CC72,60269.0,3.0,07 Apr 2024,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,Departure On Time
11795442,SQ-SIA,9V-SCW,Singapore Airlines,B78X,76CC77,67155.0,1.0,29 Jun 2024,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,Departure On Time

In [32]:
columns_to_drop = ['DATE','STD', 'ATD', 'STA', 'Color Code', 'ATA', 'STATUS',
       'FROM_LAT', 'FROM_LNG', 'FROM_GMT', 'TO_LAT', 'TO_LNG', 'TO_GMT','Y_LABEL']

# Drop the columns
df = df.drop(columns=columns_to_drop)

In [33]:
print(df.columns)

Index(['Airline Code', 'Aircraft Registration', 'Operator', 'Type Code',
       'Mode S', 'Serial Number', 'Age(years)', 'FROM', 'TO', 'FLIGHT',
       'FLIGHT TIME(mins)', 'STD_UTC', 'ATD_UTC', 'ATA_UTC', 'STA_UTC',
       'Y_LABEL', 'STD_temp', 'STD_dwpt', 'STD_rhum', 'STD_prcp', 'STD_snow',
       'STD_wdir', 'STD_wspd', 'STD_wpgt', 'STD_pres', 'STD_tsun', 'STD_coco',
       'ATD_temp', 'ATD_dwpt', 'ATD_rhum', 'ATD_prcp', 'ATD_snow', 'ATD_wdir',
       'ATD_wspd', 'ATD_wpgt', 'ATD_pres', 'ATD_tsun', 'ATD_coco', 'STA_temp',
       'STA_dwpt', 'STA_rhum', 'STA_prcp', 'STA_snow', 'STA_wdir', 'STA_wspd',
       'STA_wpgt', 'STA_pres', 'STA_tsun', 'STA_coco', 'ATA_temp', 'ATA_dwpt',
       'ATA_rhum', 'ATA_prcp', 'ATA_snow', 'ATA_wdir', 'ATA_wspd', 'ATA_wpgt',
       'ATA_pres', 'ATA_tsun', 'ATA_coco', 'Arrival_Delayed',
       'Departure_Status'],
      dtype='object')

In [35]:
print(df.dtypes)

Airline Code             category
Aircraft Registration    category
Operator                 category
Type Code                category
Mode S                   category
                           ...
ATA_pres                  float64
ATA_tsun                  float64
ATA_coco                  float64
Arrival_Delayed              bool
Departure_Status           object
Length: 61, dtype: object

# Scale Weather Data, save the minb and max values to be used for predictions

In [18]:
import json
weather_cols = [ 
    'STD_temp', 'STD_dwpt', 'STD_rhum', 'STD_prcp', 'STD_snow',
    'STD_wdir', 'STD_wspd', 'STD_wpgt', 'STD_pres', 'STD_tsun', 'STD_coco',
    'ATD_temp', 'ATD_dwpt', 'ATD_rhum', 'ATD_prcp', 'ATD_snow', 'ATD_wdir',
    'ATD_wspd', 'ATD_wpgt', 'ATD_pres', 'ATD_tsun', 'ATD_coco', 'STA_temp',
    'STA_dwpt', 'STA_rhum', 'STA_prcp', 'STA_snow', 'STA_wdir', 'STA_wspd',
    'STA_wpgt', 'STA_pres', 'STA_tsun', 'STA_coco', 'ATA_temp', 'ATA_dwpt',
    'ATA_rhum', 'ATA_prcp', 'ATA_snow', 'ATA_wdir', 'ATA_wspd', 'ATA_wpgt',
    'ATA_pres', 'ATA_tsun', 'ATA_coco' ]
# Step 1: Calculate and store min and max for each column
scale_params = {}
for column in weather_cols:
    scale_params[column] = {
        'min': df[column].min(),
        'max': df[column].max()
    }

# Step 2: Apply Min-Max scaling
for column in weather_cols:
    min_val = scale_params[column]['min']
    max_val = scale_params[column]['max']
    df[column + '_scaled'] = (df[column] - min_val) / (max_val - min_val)

# Show scaled DataFrame
print(scale_params)

with open('weather_scale_params.json', 'w') as file:
    json.dump(scale_params, file, indent=4)

{'STD_temp': {'min': np.float64(-41.0), 'max': np.float64(51.0)}, 'STD_dwpt': {'min': np.float64(-47.0), 'max': np.float64(34.1)}, 'STD_rhum': {'min': np.float64(0.0), 'max': np.float64(100.0)}, 'STD_prcp': {'min': np.float64(0.0), 'max': np.float64(147.0)}, 'STD_snow': {'min': np.float64(0.0), 'max': np.float64(9990.0)}, 'STD_wdir': {'min': np.float64(0.0), 'max': np.float64(360.0)}, 'STD_wspd': {'min': np.float64(0.0), 'max': np.float64(250.0)}, 'STD_wpgt': {'min': np.float64(0.0), 'max': np.float64(159.3)}, 'STD_pres': {'min': np.float64(913.0), 'max': np.float64(1067.0)}, 'STD_tsun': {'min': np.float64(0.0), 'max': np.float64(60.0)}, 'STD_coco': {'min': np.float64(1.0), 'max': np.float64(26.0)}, 'ATD_temp': {'min': np.float64(-40.0), 'max': np.float64(51.0)}, 'ATD_dwpt': {'min': np.float64(-45.9), 'max': np.float64(34.1)}, 'ATD_rhum': {'min': np.float64(0.0), 'max': np.float64(100.0)}, 'ATD_prcp': {'min': np.float64(0.0), 'max': np.float64(84.0)}, 'ATD_snow': {'min': np.float64(0.0), 'max': np.float64(9990.0)}, 'ATD_wdir': {'min': np.float64(0.0), 'max': np.float64(360.0)}, 'ATD_wspd': {'min': np.float64(0.0), 'max': np.float64(250.0)}, 'ATD_wpgt': {'min': np.float64(0.0), 'max': np.float64(159.3)}, 'ATD_pres': {'min': np.float64(913.0), 'max': np.float64(1067.0)}, 'ATD_tsun': {'min': np.float64(0.0), 'max': np.float64(60.0)}, 'ATD_coco': {'min': np.float64(1.0), 'max': np.float64(26.0)}, 'STA_temp': {'min': np.float64(-43.0), 'max': np.float64(51.0)}, 'STA_dwpt': {'min': np.float64(-46.1), 'max': np.float64(34.1)}, 'STA_rhum': {'min': np.float64(0.0), 'max': np.float64(100.0)}, 'STA_prcp': {'min': np.float64(0.0), 'max': np.float64(73.2)}, 'STA_snow': {'min': np.float64(0.0), 'max': np.float64(9990.0)}, 'STA_wdir': {'min': np.float64(0.0), 'max': np.float64(360.0)}, 'STA_wspd': {'min': np.float64(0.0), 'max': np.float64(237.0)}, 'STA_wpgt': {'min': np.float64(0.0), 'max': np.float64(131.5)}, 'STA_pres': {'min': np.float64(913.0), 'max': np.float64(1065.8)}, 'STA_tsun': {'min': np.float64(0.0), 'max': np.float64(60.0)}, 'STA_coco': {'min': np.float64(1.0), 'max': np.float64(26.0)}, 'ATA_temp': {'min': np.float64(-43.0), 'max': np.float64(51.0)}, 'ATA_dwpt': {'min': np.float64(-47.0), 'max': np.float64(34.1)}, 'ATA_rhum': {'min': np.float64(0.0), 'max': np.float64(100.0)}, 'ATA_prcp': {'min': np.float64(0.0), 'max': np.float64(147.0)}, 'ATA_snow': {'min': np.float64(0.0), 'max': np.float64(9990.0)}, 'ATA_wdir': {'min': np.float64(0.0), 'max': np.float64(360.0)}, 'ATA_wspd': {'min': np.float64(0.0), 'max': np.float64(237.0)}, 'ATA_wpgt': {'min': np.float64(0.0), 'max': np.float64(131.5)}, 'ATA_pres': {'min': np.float64(913.0), 'max': np.float64(1065.3)}, 'ATA_tsun': {'min': np.float64(0.0), 'max': np.float64(60.0)}, 'ATA_coco': {'min': np.float64(1.0), 'max': np.float64(26.0)}}

In [19]:
df.head()

,Airline Code,Aircraft Registration,Operator,Type Code,Mode S,Serial Number,Age(years),DATE,FROM,TO,...,ATA_dwpt_scaled,ATA_rhum_scaled,ATA_prcp_scaled,ATA_snow_scaled,ATA_wdir_scaled,ATA_wspd_scaled,ATA_wpgt_scaled,ATA_pres_scaled,ATA_tsun_scaled,ATA_coco_scaled
0,3u-csc,b-30cr,Sichuan Airlines,A20N,781848,8873.0,5.0,31 Aug 2024,YIN,TFU,...,0.874229,0.70,NaN,NaN,0.916667,0.060759,NaN,NaN,NaN,NaN
1,3u-csc,b-30cr,Sichuan Airlines,A20N,781848,8873.0,5.0,31 Aug 2024,TFU,YIN,...,0.672010,0.62,NaN,NaN,0.125000,0.037975,NaN,0.685489,NaN,NaN
2,3u-csc,b-30cr,Sichuan Airlines,A20N,781848,8873.0,5.0,31 Aug 2024,URC,TFU,...,0.863132,0.79,NaN,NaN,0.055556,0.045570,NaN,NaN,NaN,NaN
3,3u-csc,b-30cr,Sichuan Airlines,A20N,781848,8873.0,5.0,30 Aug 2024,TFU,URC,...,0.738594,0.53,NaN,NaN,0.972222,0.045570,NaN,NaN,NaN,NaN
4,3u-csc,b-30cr,Sichuan Airlines,A20N,781848,8873.0,5.0,30 Aug 2024,ZHA,TFU,...,0.864365,0.63,NaN,NaN,0.111111,0.060759,NaN,NaN,NaN,NaN

In [20]:
print(df.columns)

Index(['Airline Code', 'Aircraft Registration', 'Operator', 'Type Code',
       'Mode S', 'Serial Number', 'Age(years)', 'DATE', 'FROM', 'TO',
       ...
       'ATA_dwpt_scaled', 'ATA_rhum_scaled', 'ATA_prcp_scaled',
       'ATA_snow_scaled', 'ATA_wdir_scaled', 'ATA_wspd_scaled',
       'ATA_wpgt_scaled', 'ATA_pres_scaled', 'ATA_tsun_scaled',
       'ATA_coco_scaled'],
      dtype='object', length=119)

In [21]:
df = df.drop(columns=weather_cols)

In [22]:
print(df.columns)

Index(['Airline Code', 'Aircraft Registration', 'Operator', 'Type Code',
       'Mode S', 'Serial Number', 'Age(years)', 'DATE', 'FROM', 'TO', 'FLIGHT',
       'FLIGHT TIME(mins)', 'STD', 'ATD', 'STA', 'Color Code', 'ATA', 'STATUS',
       'FROM_LAT', 'FROM_LNG', 'FROM_GMT', 'TO_LAT', 'TO_LNG', 'TO_GMT',
       'STD_UTC', 'ATD_UTC', 'ATA_UTC', 'STA_UTC', 'Y_LABEL',
       'Arrival_Delayed', 'Departure_Status', 'STD_temp_scaled',
       'STD_dwpt_scaled', 'STD_rhum_scaled', 'STD_prcp_scaled',
       'STD_snow_scaled', 'STD_wdir_scaled', 'STD_wspd_scaled',
       'STD_wpgt_scaled', 'STD_pres_scaled', 'STD_tsun_scaled',
       'STD_coco_scaled', 'ATD_temp_scaled', 'ATD_dwpt_scaled',
       'ATD_rhum_scaled', 'ATD_prcp_scaled', 'ATD_snow_scaled',
       'ATD_wdir_scaled', 'ATD_wspd_scaled', 'ATD_wpgt_scaled',
       'ATD_pres_scaled', 'ATD_tsun_scaled', 'ATD_coco_scaled',
       'STA_temp_scaled', 'STA_dwpt_scaled', 'STA_rhum_scaled',
       'STA_prcp_scaled', 'STA_snow_scaled', 'STA_wdir_scaled',
       'STA_wspd_scaled', 'STA_wpgt_scaled', 'STA_pres_scaled',
       'STA_tsun_scaled', 'STA_coco_scaled', 'ATA_temp_scaled',
       'ATA_dwpt_scaled', 'ATA_rhum_scaled', 'ATA_prcp_scaled',
       'ATA_snow_scaled', 'ATA_wdir_scaled', 'ATA_wspd_scaled',
       'ATA_wpgt_scaled', 'ATA_pres_scaled', 'ATA_tsun_scaled',
       'ATA_coco_scaled'],
      dtype='object')

In [23]:
df.to_parquet('CLEANED_V5.1 (Weather_Scaled).parquet', engine='pyarrow', index=False)

# Normalise Datetimes to use sin and cosine, to follow cyclic version of dates

In [24]:
# Follow the sun patterns of the day, start at midnight
def cosine_time_of_day(datetime_series):
    # Calculate fractional hours
    fractional_hours = datetime_series.dt.hour + datetime_series.dt.minute / 60 + datetime_series.dt.second / 3600
    # Cosine transformation, peaking at midnight
    return np.cos(2 * np.pi * fractional_hours / 24)

# Function to calculate cosine for time of year
# Follow hot cold season, where start of the year is cold, middle is hot and end is cold
def cosine_time_of_year(datetime_series):
    day_of_year = datetime_series.dt.dayofyear
    return np.cos(2 * np.pi * day_of_year / 365.25)

In [25]:
PLANE_TIMINGS = ['STD_UTC', 'ATD_UTC', 'ATA_UTC', 'STA_UTC']

In [26]:
for col in PLANE_TIMINGS:
    df[col + '_time_of_day_cosine'] = cosine_time_of_day(df[col]) # Relative to general heat in a day
    df[col + '_time_of_year_cosine'] = cosine_time_of_year(df[col]) # Relative to general heat in a nothern hemisphere location.
    df[col + '_day_of_year'] = df[col].dt.dayofyear.astype('Int64') # Day number in year (1-365)
    df[col + '_week_of_year'] = df[col].dt.isocalendar().week.astype('Int64')  # Week number (1-52)
    df[col + '_weekday'] = df[col].dt.weekday.astype('Int64')  # 0 = Monday, 6 = Sunday
    df[col + '_hour_of_day'] = df[col].dt.hour.astype('Int64')

In [27]:
print(df.columns)

Index(['Airline Code', 'Aircraft Registration', 'Operator', 'Type Code',
       'Mode S', 'Serial Number', 'Age(years)', 'DATE', 'FROM', 'TO', 'FLIGHT',
       'FLIGHT TIME(mins)', 'STD', 'ATD', 'STA', 'Color Code', 'ATA', 'STATUS',
       'FROM_LAT', 'FROM_LNG', 'FROM_GMT', 'TO_LAT', 'TO_LNG', 'TO_GMT',
       'STD_UTC', 'ATD_UTC', 'ATA_UTC', 'STA_UTC', 'Y_LABEL',
       'Arrival_Delayed', 'Departure_Status', 'STD_temp_scaled',
       'STD_dwpt_scaled', 'STD_rhum_scaled', 'STD_prcp_scaled',
       'STD_snow_scaled', 'STD_wdir_scaled', 'STD_wspd_scaled',
       'STD_wpgt_scaled', 'STD_pres_scaled', 'STD_tsun_scaled',
       'STD_coco_scaled', 'ATD_temp_scaled', 'ATD_dwpt_scaled',
       'ATD_rhum_scaled', 'ATD_prcp_scaled', 'ATD_snow_scaled',
       'ATD_wdir_scaled', 'ATD_wspd_scaled', 'ATD_wpgt_scaled',
       'ATD_pres_scaled', 'ATD_tsun_scaled', 'ATD_coco_scaled',
       'STA_temp_scaled', 'STA_dwpt_scaled', 'STA_rhum_scaled',
       'STA_prcp_scaled', 'STA_snow_scaled', 'STA_wdir_scaled',
       'STA_wspd_scaled', 'STA_wpgt_scaled', 'STA_pres_scaled',
       'STA_tsun_scaled', 'STA_coco_scaled', 'ATA_temp_scaled',
       'ATA_dwpt_scaled', 'ATA_rhum_scaled', 'ATA_prcp_scaled',
       'ATA_snow_scaled', 'ATA_wdir_scaled', 'ATA_wspd_scaled',
       'ATA_wpgt_scaled', 'ATA_pres_scaled', 'ATA_tsun_scaled',
       'ATA_coco_scaled', 'STD_UTC_time_of_day_cosine',
       'STD_UTC_time_of_year_cosine', 'STD_UTC_day_of_year',
       'STD_UTC_week_of_year', 'STD_UTC_weekday', 'STD_UTC_hour_of_day',
       'ATD_UTC_time_of_day_cosine', 'ATD_UTC_time_of_year_cosine',
       'ATD_UTC_day_of_year', 'ATD_UTC_week_of_year', 'ATD_UTC_weekday',
       'ATD_UTC_hour_of_day', 'ATA_UTC_time_of_day_cosine',
       'ATA_UTC_time_of_year_cosine', 'ATA_UTC_day_of_year',
       'ATA_UTC_week_of_year', 'ATA_UTC_weekday', 'ATA_UTC_hour_of_day',
       'STA_UTC_time_of_day_cosine', 'STA_UTC_time_of_year_cosine',
       'STA_UTC_day_of_year', 'STA_UTC_week_of_year', 'STA_UTC_weekday',
       'STA_UTC_hour_of_day'],
      dtype='object')

In [28]:
df.head()

,Airline Code,Aircraft Registration,Operator,Type Code,Mode S,Serial Number,Age(years),DATE,FROM,TO,...,ATA_UTC_day_of_year,ATA_UTC_week_of_year,ATA_UTC_weekday,ATA_UTC_hour_of_day,STA_UTC_time_of_day_cosine,STA_UTC_time_of_year_cosine,STA_UTC_day_of_year,STA_UTC_week_of_year,STA_UTC_weekday,STA_UTC_hour_of_day
0,3u-csc,b-30cr,Sichuan Airlines,A20N,781848,8873.0,5.0,31 Aug 2024,YIN,TFU,...,244,35,5,7,0.021815,-0.492533,244,35,5,5
1,3u-csc,b-30cr,Sichuan Airlines,A20N,781848,8873.0,5.0,31 Aug 2024,TFU,YIN,...,244,35,5,0,0.707107,-0.492533,244,35,5,3
2,3u-csc,b-30cr,Sichuan Airlines,A20N,781848,8873.0,5.0,31 Aug 2024,URC,TFU,...,243,35,4,20,0.362438,-0.507430,243,35,4,19
3,3u-csc,b-30cr,Sichuan Airlines,A20N,781848,8873.0,5.0,30 Aug 2024,TFU,URC,...,243,35,4,8,-0.642788,-0.507430,243,35,4,8
4,3u-csc,b-30cr,Sichuan Airlines,A20N,781848,8873.0,5.0,30 Aug 2024,ZHA,TFU,...,243,35,4,1,0.854912,-0.507430,243,35,4,2

In [29]:
df.to_parquet('CLEANED_V5.1 (Adjust_Datetimes_Cycle).parquet', engine='pyarrow', index=False)

#  Check for empty STD rows

In [2]:
df = pd.read_parquet('CLEANED_V5.1 (Adjust_Datetimes_Cycle).parquet', engine='pyarrow')

In [3]:
df

,Airline Code,Aircraft Registration,Operator,Type Code,Mode S,Serial Number,Age(years),DATE,FROM,TO,...,ATA_UTC_day_of_year,ATA_UTC_week_of_year,ATA_UTC_weekday,ATA_UTC_hour_of_day,STA_UTC_time_of_day_cosine,STA_UTC_time_of_year_cosine,STA_UTC_day_of_year,STA_UTC_week_of_year,STA_UTC_weekday,STA_UTC_hour_of_day
0,3u-csc,b-30cr,Sichuan Airlines,A20N,781848,8873.0,5.0,31 Aug 2024,YIN,TFU,...,244,35,5,7,0.021815,-0.492533,244,35,5,5
1,3u-csc,b-30cr,Sichuan Airlines,A20N,781848,8873.0,5.0,31 Aug 2024,TFU,YIN,...,244,35,5,0,0.707107,-0.492533,244,35,5,3
2,3u-csc,b-30cr,Sichuan Airlines,A20N,781848,8873.0,5.0,31 Aug 2024,URC,TFU,...,243,35,4,20,0.362438,-0.507430,243,35,4,19
3,3u-csc,b-30cr,Sichuan Airlines,A20N,781848,8873.0,5.0,30 Aug 2024,TFU,URC,...,243,35,4,8,-0.642788,-0.507430,243,35,4,8
4,3u-csc,b-30cr,Sichuan Airlines,A20N,781848,8873.0,5.0,30 Aug 2024,ZHA,TFU,...,243,35,4,1,0.854912,-0.507430,243,35,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11797410,SQ-SIA,9V-SDA,Singapore Airlines,B78X,76CC81,67157.0,0.0,25 Sep 2024,NGO,SIN,...,269,39,2,2,0.793353,-0.084835,269,39,2,2
11797411,SQ-SIA,9V-SDA,Singapore Airlines,B78X,76CC81,67157.0,0.0,24 Sep 2024,CHS,NGO,...,268,39,1,19,0.237686,-0.101962,268,39,1,18
11797412,SQ-SIA,9V-SDA,Singapore Airlines,B78X,76CC81,67157.0,0.0,10 Sep 2024,CHS,CHS,...,254,37,1,14,-0.928810,-0.336289,254,37,1,13
11797413,SQ-SIA,9V-SDA,Singapore Airlines,B78X,76CC81,67157.0,0.0,01 Sep 2024,CHS,CHS,...,245,35,6,16,-0.492424,-0.477489,245,35,6,16
11797414,SQ-SIA,9V-SDA,Singapore Airlines,B78X,76CC81,67157.0,0.0,31 Aug 2024,CHS,CHS,...,244,35,5,11,-0.900698,-0.492533,244,35,5,10

In [4]:
print(df.dtypes)

Airline Code                   category
Aircraft Registration          category
Operator                       category
Type Code                      category
Mode S                         category
                                 ...
STA_UTC_time_of_year_cosine     float64
STA_UTC_day_of_year               Int64
STA_UTC_week_of_year              Int64
STA_UTC_weekday                   Int64
STA_UTC_hour_of_day               Int64
Length: 99, dtype: object

In [5]:
filter_df = df[df["STD_UTC"].isna()]
filter_df["Departure_Status"]

269         Departure On Time
557         Departure On Time
621         Departure On Time
694         Departure On Time
757         Departure On Time
                  ...
11787816    Departure On Time
11788763    Departure On Time
11789973    Departure On Time
11790134    Departure On Time
11795442    Departure On Time
Name: Departure_Status, Length: 50294, dtype: object

In [8]:
cancel_df = df[df["Departure_Status"] == "Cancelled"]
cancel_df

,Airline Code,Aircraft Registration,Operator,Type Code,Mode S,Serial Number,Age(years),DATE,FROM,TO,...,ATA_UTC_day_of_year,ATA_UTC_week_of_year,ATA_UTC_weekday,ATA_UTC_hour_of_day,STA_UTC_time_of_day_cosine,STA_UTC_time_of_year_cosine,STA_UTC_day_of_year,STA_UTC_week_of_year,STA_UTC_weekday,STA_UTC_hour_of_day
243539,5j-ceb,rp-c4157,Cebu Pacific,A20N,758748,10546.0,2.0,26 Dec 2024,ZAM,DVO,...,<NA>,<NA>,<NA>,<NA>,0.751840,0.997329,361,52,3,2
243903,5j-ceb,rp-c4159,Cebu Pacific,A20N,75874B,11450.0,1.0,17 Jan 2025,DVO,MNL,...,<NA>,<NA>,<NA>,<NA>,-0.722364,0.962360,16,3,3,14
248292,5j-ceb,rp-c4118,Cebu Pacific,A21N,7585A1,8608.0,6.0,08 Jan 2025,MNL,GES,...,<NA>,<NA>,<NA>,<NA>,-0.819152,0.992759,7,2,1,14
249975,5j-ceb,rp-c4122,Cebu Pacific,A21N,758616,9196.0,5.0,14 Jan 2025,MNL,DVO,...,<NA>,<NA>,<NA>,<NA>,0.923880,0.971139,14,3,1,1
249994,5j-ceb,rp-c4122,Cebu Pacific,A21N,758616,9196.0,5.0,11 Jan 2025,CEB,MNL,...,<NA>,<NA>,<NA>,<NA>,0.065403,0.985240,10,2,4,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11189039,NZ-ANZ,ZK-NFI,Air New Zealand,DH8C,C81C9F,671.0,15.0,17 Dec 2024,WLG,NSN,...,<NA>,<NA>,<NA>,<NA>,0.555570,0.970105,351,51,0,20
11189040,NZ-ANZ,ZK-NFI,Air New Zealand,DH8C,C81C9F,671.0,15.0,17 Dec 2024,WLG,CHC,...,<NA>,<NA>,<NA>,<NA>,-0.707107,0.970105,351,51,0,15
11189041,NZ-ANZ,ZK-NFI,Air New Zealand,DH8C,C81C9F,671.0,15.0,16 Dec 2024,WLG,BHE,...,<NA>,<NA>,<NA>,<NA>,0.971342,0.965787,350,50,6,23
11189042,NZ-ANZ,ZK-NFI,Air New Zealand,DH8C,C81C9F,671.0,15.0,16 Dec 2024,WLG,NSN,...,<NA>,<NA>,<NA>,<NA>,0.362438,0.965787,350,50,6,19
11500000,JL-JAL,JA02WJ,Japan Airlines,A35K,840A64,628.0,1.0,27 Dec 2024,JFK,HND,...,<NA>,<NA>,<NA>,<NA>,0.997859,0.998438,362,52,4,0

In [7]:
cancelled_empty = cancel_df[cancel_df["STD_UTC"].isna()]
cancelled_empty

Empty DataFrame
Columns: [Airline Code, Aircraft Registration, Operator, Type Code, Mode S, Serial Number, Age(years), DATE, FROM, TO, FLIGHT, FLIGHT TIME(mins), STD, ATD, STA, Color Code, ATA, STATUS, FROM_LAT, FROM_LNG, FROM_GMT, TO_LAT, TO_LNG, TO_GMT, STD_UTC, ATD_UTC, ATA_UTC, STA_UTC, Y_LABEL, Arrival_Delayed, Departure_Status, STD_temp_scaled, STD_dwpt_scaled, STD_rhum_scaled, STD_prcp_scaled, STD_snow_scaled, STD_wdir_scaled, STD_wspd_scaled, STD_wpgt_scaled, STD_pres_scaled, STD_tsun_scaled, STD_coco_scaled, ATD_temp_scaled, ATD_dwpt_scaled, ATD_rhum_scaled, ATD_prcp_scaled, ATD_snow_scaled, ATD_wdir_scaled, ATD_wspd_scaled, ATD_wpgt_scaled, ATD_pres_scaled, ATD_tsun_scaled, ATD_coco_scaled, STA_temp_scaled, STA_dwpt_scaled, STA_rhum_scaled, STA_prcp_scaled, STA_snow_scaled, STA_wdir_scaled, STA_wspd_scaled, STA_wpgt_scaled, STA_pres_scaled, STA_tsun_scaled, STA_coco_scaled, ATA_temp_scaled, ATA_dwpt_scaled, ATA_rhum_scaled, ATA_prcp_scaled, ATA_snow_scaled, ATA_wdir_scaled, ATA_wspd_scaled, ATA_wpgt_scaled, ATA_pres_scaled, ATA_tsun_scaled, ATA_coco_scaled, STD_UTC_time_of_day_cosine, STD_UTC_time_of_year_cosine, STD_UTC_day_of_year, STD_UTC_week_of_year, STD_UTC_weekday, STD_UTC_hour_of_day, ATD_UTC_time_of_day_cosine, ATD_UTC_time_of_year_cosine, ATD_UTC_day_of_year, ATD_UTC_week_of_year, ATD_UTC_weekday, ATD_UTC_hour_of_day, ATA_UTC_time_of_day_cosine, ATA_UTC_time_of_year_cosine, ATA_UTC_day_of_year, ATA_UTC_week_of_year, ATA_UTC_weekday, ATA_UTC_hour_of_day, STA_UTC_time_of_day_cosine, STA_UTC_time_of_year_cosine, STA_UTC_day_of_year, STA_UTC_week_of_year, STA_UTC_weekday, STA_UTC_hour_of_day]
Index: []

[0 rows x 99 columns]

## Drop Rows Where STD is empty

In [9]:
df = df[df['STD_UTC'].notna()]

In [10]:
df[df['Departure_Status'] == "Cancelled"]

,Airline Code,Aircraft Registration,Operator,Type Code,Mode S,Serial Number,Age(years),DATE,FROM,TO,...,ATA_UTC_day_of_year,ATA_UTC_week_of_year,ATA_UTC_weekday,ATA_UTC_hour_of_day,STA_UTC_time_of_day_cosine,STA_UTC_time_of_year_cosine,STA_UTC_day_of_year,STA_UTC_week_of_year,STA_UTC_weekday,STA_UTC_hour_of_day
243539,5j-ceb,rp-c4157,Cebu Pacific,A20N,758748,10546.0,2.0,26 Dec 2024,ZAM,DVO,...,<NA>,<NA>,<NA>,<NA>,0.751840,0.997329,361,52,3,2
243903,5j-ceb,rp-c4159,Cebu Pacific,A20N,75874B,11450.0,1.0,17 Jan 2025,DVO,MNL,...,<NA>,<NA>,<NA>,<NA>,-0.722364,0.962360,16,3,3,14
248292,5j-ceb,rp-c4118,Cebu Pacific,A21N,7585A1,8608.0,6.0,08 Jan 2025,MNL,GES,...,<NA>,<NA>,<NA>,<NA>,-0.819152,0.992759,7,2,1,14
249975,5j-ceb,rp-c4122,Cebu Pacific,A21N,758616,9196.0,5.0,14 Jan 2025,MNL,DVO,...,<NA>,<NA>,<NA>,<NA>,0.923880,0.971139,14,3,1,1
249994,5j-ceb,rp-c4122,Cebu Pacific,A21N,758616,9196.0,5.0,11 Jan 2025,CEB,MNL,...,<NA>,<NA>,<NA>,<NA>,0.065403,0.985240,10,2,4,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11189039,NZ-ANZ,ZK-NFI,Air New Zealand,DH8C,C81C9F,671.0,15.0,17 Dec 2024,WLG,NSN,...,<NA>,<NA>,<NA>,<NA>,0.555570,0.970105,351,51,0,20
11189040,NZ-ANZ,ZK-NFI,Air New Zealand,DH8C,C81C9F,671.0,15.0,17 Dec 2024,WLG,CHC,...,<NA>,<NA>,<NA>,<NA>,-0.707107,0.970105,351,51,0,15
11189041,NZ-ANZ,ZK-NFI,Air New Zealand,DH8C,C81C9F,671.0,15.0,16 Dec 2024,WLG,BHE,...,<NA>,<NA>,<NA>,<NA>,0.971342,0.965787,350,50,6,23
11189042,NZ-ANZ,ZK-NFI,Air New Zealand,DH8C,C81C9F,671.0,15.0,16 Dec 2024,WLG,NSN,...,<NA>,<NA>,<NA>,<NA>,0.362438,0.965787,350,50,6,19
11500000,JL-JAL,JA02WJ,Japan Airlines,A35K,840A64,628.0,1.0,27 Dec 2024,JFK,HND,...,<NA>,<NA>,<NA>,<NA>,0.997859,0.998438,362,52,4,0

In [15]:
df_filtered = df[df["TO"].isna() & (df["STATUS"] != "canceled")]
df_filtered[["Departure_Status","FROM","TO","STD_UTC", "STA_UTC"]]

           Departure_Status FROM    TO             STD_UTC STA_UTC
18        Departure On Time  TFU  None 2024-08-25 02:47:00     NaT
19        Departure On Time  TFU  None 2024-08-24 22:00:00     NaT
31        Departure On Time  TFU  None 2024-08-22 03:22:00     NaT
46        Departure On Time  TFU  None 2024-08-17 23:29:00     NaT
93        Departure On Time  TFU  None 2024-08-03 21:27:00     NaT
...                     ...  ...   ...                 ...     ...
11795421  Departure On Time  SIN  None 2024-07-04 22:36:00     NaT
11795917  Departure On Time  NGO  None 2024-01-27 14:52:00     NaT
11795925  Departure On Time  SIN  None 2024-01-25 06:22:00     NaT
11796466  Departure On Time  DAC  None 2024-08-13 08:27:00     NaT
11796827  Departure On Time  ADL  None 2024-11-08 14:11:00     NaT

[57087 rows x 5 columns]

In [17]:
df = df[~(df["TO"].isna() & (df["STATUS"] != "canceled"))]
df

,Airline Code,Aircraft Registration,Operator,Type Code,Mode S,Serial Number,Age(years),DATE,FROM,TO,...,ATA_UTC_day_of_year,ATA_UTC_week_of_year,ATA_UTC_weekday,ATA_UTC_hour_of_day,STA_UTC_time_of_day_cosine,STA_UTC_time_of_year_cosine,STA_UTC_day_of_year,STA_UTC_week_of_year,STA_UTC_weekday,STA_UTC_hour_of_day
0,3u-csc,b-30cr,Sichuan Airlines,A20N,781848,8873.0,5.0,31 Aug 2024,YIN,TFU,...,244,35,5,7,0.021815,-0.492533,244,35,5,5
1,3u-csc,b-30cr,Sichuan Airlines,A20N,781848,8873.0,5.0,31 Aug 2024,TFU,YIN,...,244,35,5,0,0.707107,-0.492533,244,35,5,3
2,3u-csc,b-30cr,Sichuan Airlines,A20N,781848,8873.0,5.0,31 Aug 2024,URC,TFU,...,243,35,4,20,0.362438,-0.507430,243,35,4,19
3,3u-csc,b-30cr,Sichuan Airlines,A20N,781848,8873.0,5.0,30 Aug 2024,TFU,URC,...,243,35,4,8,-0.642788,-0.507430,243,35,4,8
4,3u-csc,b-30cr,Sichuan Airlines,A20N,781848,8873.0,5.0,30 Aug 2024,ZHA,TFU,...,243,35,4,1,0.854912,-0.507430,243,35,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11797410,SQ-SIA,9V-SDA,Singapore Airlines,B78X,76CC81,67157.0,0.0,25 Sep 2024,NGO,SIN,...,269,39,2,2,0.793353,-0.084835,269,39,2,2
11797411,SQ-SIA,9V-SDA,Singapore Airlines,B78X,76CC81,67157.0,0.0,24 Sep 2024,CHS,NGO,...,268,39,1,19,0.237686,-0.101962,268,39,1,18
11797412,SQ-SIA,9V-SDA,Singapore Airlines,B78X,76CC81,67157.0,0.0,10 Sep 2024,CHS,CHS,...,254,37,1,14,-0.928810,-0.336289,254,37,1,13
11797413,SQ-SIA,9V-SDA,Singapore Airlines,B78X,76CC81,67157.0,0.0,01 Sep 2024,CHS,CHS,...,245,35,6,16,-0.492424,-0.477489,245,35,6,16
11797414,SQ-SIA,9V-SDA,Singapore Airlines,B78X,76CC81,67157.0,0.0,31 Aug 2024,CHS,CHS,...,244,35,5,11,-0.900698,-0.492533,244,35,5,10

In [32]:
df_filtered = df[(df["Color Code"]=="gray") & (df["STATUS"] == "Unknown")]
df_filtered[["Departure_Status","FROM","TO","STD_UTC", "STA_UTC", "Color Code", "STATUS", "ATA_UTC", "ATD_UTC"]]

,Departure_Status,FROM,TO,STD_UTC,STA_UTC,Color Code,STATUS,ATA_UTC,ATD_UTC
108,Departure On Time,TFU,XUZ,2024-07-30 20:38:00,NaT,gray,Unknown,NaT,NaT
169,Departure On Time,YIN,TFU,2024-07-11 19:09:00,NaT,gray,Unknown,NaT,NaT
385,Departure On Time,HKT,CKG,2024-02-05 08:08:00,NaT,gray,Unknown,NaT,NaT
444,Departure On Time,NKG,CKG,2024-01-21 20:56:00,NaT,gray,Unknown,NaT,NaT
517,Departure On Time,XIY,JGN,2024-08-16 17:39:00,NaT,gray,Unknown,NaT,NaT
...,...,...,...,...,...,...,...,...,...
11794787,Departure On Time,KIX,SIN,2024-02-09 06:25:00,NaT,gray,Unknown,NaT,NaT
11796423,Departure On Time,FUK,SIN,2024-08-23 22:27:00,NaT,gray,Unknown,NaT,NaT
11796914,Departure On Time,SIN,NGO,2024-10-11 15:14:00,NaT,gray,Unknown,NaT,NaT
11797243,Departure On Time,SIN,NGO,2024-11-11 15:29:00,NaT,gray,Unknown,NaT,NaT
11797384,Departure On Time,SIN,BOM,2024-10-03 20:31:00,NaT,gray,Unknown,NaT,NaT

In [36]:
print(df["Departure_Status"].unique())
df.loc[df["STATUS"] == "Unknown", "Departure_Status"] = "Cancelled"

['Departure Delayed' 'Departure On Time' 'Cancelled']

In [37]:
df_filtered = df[(df["Color Code"]=="gray") & (df["STATUS"] != "Unknown") & (df["ATA_UTC"].isna())]
df_filtered[["Departure_Status","FROM","TO","STD_UTC", "STA_UTC", "Color Code", "STATUS", "ATA_UTC", "ATD_UTC"]]

,Departure_Status,FROM,TO,STD_UTC,STA_UTC,Color Code,STATUS,ATA_UTC,ATD_UTC
34,Departure On Time,YIN,TFU,2024-08-21 07:59:00,2024-08-21 05:58:00,gray,Landed,NaT,NaT
45,Departure On Time,TFU,TFU,2024-08-18 07:42:00,2024-08-18 07:41:00,gray,Landed,NaT,NaT
754,Departure On Time,TNA,HRB,2024-06-06 09:58:00,2024-06-06 09:57:00,gray,Landed,NaT,NaT
1042,Departure On Time,CTU,KMG,2024-02-18 18:46:00,2024-02-18 18:45:00,gray,Landed,NaT,NaT
1153,Departure On Time,KCA,TFU,2024-01-25 06:02:00,2024-01-25 04:00:00,gray,Landed,NaT,NaT
...,...,...,...,...,...,...,...,...,...
11781215,Departure On Time,PER,PER,2024-05-06 07:43:00,2024-05-06 07:43:00,gray,Landed,NaT,NaT
11788759,Departure On Time,SIN,ICN,2024-03-06 03:36:00,2024-03-05 21:55:00,gray,Landed,NaT,NaT
11789458,Departure On Time,DEL,SIN,2024-11-14 02:15:00,2024-11-14 02:15:00,gray,Landed,NaT,NaT
11793343,Departure On Time,SIN,CAN,2024-05-24 20:03:00,2024-05-24 19:59:00,gray,Landed,NaT,NaT
11795019,Departure On Time,DAC,SIN,2024-11-18 13:49:00,2024-11-18 13:49:00,gray,Landed,NaT,NaT

In [38]:
df = df[~((df["Color Code"] == "gray") & (df["STATUS"] == "Landed") & (df["ATA_UTC"].isna()))]
df

,Airline Code,Aircraft Registration,Operator,Type Code,Mode S,Serial Number,Age(years),DATE,FROM,TO,...,ATA_UTC_day_of_year,ATA_UTC_week_of_year,ATA_UTC_weekday,ATA_UTC_hour_of_day,STA_UTC_time_of_day_cosine,STA_UTC_time_of_year_cosine,STA_UTC_day_of_year,STA_UTC_week_of_year,STA_UTC_weekday,STA_UTC_hour_of_day
0,3u-csc,b-30cr,Sichuan Airlines,A20N,781848,8873.0,5.0,31 Aug 2024,YIN,TFU,...,244,35,5,7,0.021815,-0.492533,244,35,5,5
1,3u-csc,b-30cr,Sichuan Airlines,A20N,781848,8873.0,5.0,31 Aug 2024,TFU,YIN,...,244,35,5,0,0.707107,-0.492533,244,35,5,3
2,3u-csc,b-30cr,Sichuan Airlines,A20N,781848,8873.0,5.0,31 Aug 2024,URC,TFU,...,243,35,4,20,0.362438,-0.507430,243,35,4,19
3,3u-csc,b-30cr,Sichuan Airlines,A20N,781848,8873.0,5.0,30 Aug 2024,TFU,URC,...,243,35,4,8,-0.642788,-0.507430,243,35,4,8
4,3u-csc,b-30cr,Sichuan Airlines,A20N,781848,8873.0,5.0,30 Aug 2024,ZHA,TFU,...,243,35,4,1,0.854912,-0.507430,243,35,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11797410,SQ-SIA,9V-SDA,Singapore Airlines,B78X,76CC81,67157.0,0.0,25 Sep 2024,NGO,SIN,...,269,39,2,2,0.793353,-0.084835,269,39,2,2
11797411,SQ-SIA,9V-SDA,Singapore Airlines,B78X,76CC81,67157.0,0.0,24 Sep 2024,CHS,NGO,...,268,39,1,19,0.237686,-0.101962,268,39,1,18
11797412,SQ-SIA,9V-SDA,Singapore Airlines,B78X,76CC81,67157.0,0.0,10 Sep 2024,CHS,CHS,...,254,37,1,14,-0.928810,-0.336289,254,37,1,13
11797413,SQ-SIA,9V-SDA,Singapore Airlines,B78X,76CC81,67157.0,0.0,01 Sep 2024,CHS,CHS,...,245,35,6,16,-0.492424,-0.477489,245,35,6,16
11797414,SQ-SIA,9V-SDA,Singapore Airlines,B78X,76CC81,67157.0,0.0,31 Aug 2024,CHS,CHS,...,244,35,5,11,-0.900698,-0.492533,244,35,5,10

In [39]:
df_filtered = df[(df["Color Code"]=="gray") & (df["STATUS"] != "Unknown") & (df["ATD_UTC"].isna())]
df_filtered[["Departure_Status","FROM","TO","STD_UTC", "STA_UTC", "Color Code", "STATUS", "ATA_UTC", "ATD_UTC"]]

Empty DataFrame
Columns: [Departure_Status, FROM, TO, STD_UTC, STA_UTC, Color Code, STATUS, ATA_UTC, ATD_UTC]
Index: []

In [40]:
df.to_parquet('CLEANED_V5.2 (dropped rows).parquet', engine='pyarrow', index=False)

# Drop Redundant Cols that are not used in training

In [41]:
print(df.columns)

Index(['Airline Code', 'Aircraft Registration', 'Operator', 'Type Code',
       'Mode S', 'Serial Number', 'Age(years)', 'DATE', 'FROM', 'TO', 'FLIGHT',
       'FLIGHT TIME(mins)', 'STD', 'ATD', 'STA', 'Color Code', 'ATA', 'STATUS',
       'FROM_LAT', 'FROM_LNG', 'FROM_GMT', 'TO_LAT', 'TO_LNG', 'TO_GMT',
       'STD_UTC', 'ATD_UTC', 'ATA_UTC', 'STA_UTC', 'Y_LABEL',
       'Arrival_Delayed', 'Departure_Status', 'STD_temp_scaled',
       'STD_dwpt_scaled', 'STD_rhum_scaled', 'STD_prcp_scaled',
       'STD_snow_scaled', 'STD_wdir_scaled', 'STD_wspd_scaled',
       'STD_wpgt_scaled', 'STD_pres_scaled', 'STD_tsun_scaled',
       'STD_coco_scaled', 'ATD_temp_scaled', 'ATD_dwpt_scaled',
       'ATD_rhum_scaled', 'ATD_prcp_scaled', 'ATD_snow_scaled',
       'ATD_wdir_scaled', 'ATD_wspd_scaled', 'ATD_wpgt_scaled',
       'ATD_pres_scaled', 'ATD_tsun_scaled', 'ATD_coco_scaled',
       'STA_temp_scaled', 'STA_dwpt_scaled', 'STA_rhum_scaled',
       'STA_prcp_scaled', 'STA_snow_scaled', 'STA_wdir_scaled',
       'STA_wspd_scaled', 'STA_wpgt_scaled', 'STA_pres_scaled',
       'STA_tsun_scaled', 'STA_coco_scaled', 'ATA_temp_scaled',
       'ATA_dwpt_scaled', 'ATA_rhum_scaled', 'ATA_prcp_scaled',
       'ATA_snow_scaled', 'ATA_wdir_scaled', 'ATA_wspd_scaled',
       'ATA_wpgt_scaled', 'ATA_pres_scaled', 'ATA_tsun_scaled',
       'ATA_coco_scaled', 'STD_UTC_time_of_day_cosine',
       'STD_UTC_time_of_year_cosine', 'STD_UTC_day_of_year',
       'STD_UTC_week_of_year', 'STD_UTC_weekday', 'STD_UTC_hour_of_day',
       'ATD_UTC_time_of_day_cosine', 'ATD_UTC_time_of_year_cosine',
       'ATD_UTC_day_of_year', 'ATD_UTC_week_of_year', 'ATD_UTC_weekday',
       'ATD_UTC_hour_of_day', 'ATA_UTC_time_of_day_cosine',
       'ATA_UTC_time_of_year_cosine', 'ATA_UTC_day_of_year',
       'ATA_UTC_week_of_year', 'ATA_UTC_weekday', 'ATA_UTC_hour_of_day',
       'STA_UTC_time_of_day_cosine', 'STA_UTC_time_of_year_cosine',
       'STA_UTC_day_of_year', 'STA_UTC_week_of_year', 'STA_UTC_weekday',
       'STA_UTC_hour_of_day'],
      dtype='object')

In [42]:
cols = [
    'DATE','FLIGHT',
       'FLIGHT TIME(mins)', 'STD', 'ATD', 'STA', 'Color Code', 'ATA', 'STATUS',
       'FROM_LAT', 'FROM_LNG', 'FROM_GMT', 'TO_LAT', 'TO_LNG', 'TO_GMT', 'STD_UTC', 'ATD_UTC', 'ATA_UTC', 'STA_UTC', 'Y_LABEL',
    'ATD_UTC_time_of_day_cosine', 'ATD_UTC_time_of_year_cosine',
       'ATD_UTC_day_of_year', 'ATD_UTC_week_of_year', 'ATD_UTC_weekday',
       'ATD_UTC_hour_of_day', 'ATA_UTC_time_of_day_cosine',
       'ATA_UTC_time_of_year_cosine', 'ATA_UTC_day_of_year',
       'ATA_UTC_week_of_year', 'ATA_UTC_weekday', 'ATA_UTC_hour_of_day',
]

In [43]:
df = df.drop(columns=cols)

In [44]:
print(df.columns)

Index(['Airline Code', 'Aircraft Registration', 'Operator', 'Type Code',
       'Mode S', 'Serial Number', 'Age(years)', 'FROM', 'TO',
       'Arrival_Delayed', 'Departure_Status', 'STD_temp_scaled',
       'STD_dwpt_scaled', 'STD_rhum_scaled', 'STD_prcp_scaled',
       'STD_snow_scaled', 'STD_wdir_scaled', 'STD_wspd_scaled',
       'STD_wpgt_scaled', 'STD_pres_scaled', 'STD_tsun_scaled',
       'STD_coco_scaled', 'ATD_temp_scaled', 'ATD_dwpt_scaled',
       'ATD_rhum_scaled', 'ATD_prcp_scaled', 'ATD_snow_scaled',
       'ATD_wdir_scaled', 'ATD_wspd_scaled', 'ATD_wpgt_scaled',
       'ATD_pres_scaled', 'ATD_tsun_scaled', 'ATD_coco_scaled',
       'STA_temp_scaled', 'STA_dwpt_scaled', 'STA_rhum_scaled',
       'STA_prcp_scaled', 'STA_snow_scaled', 'STA_wdir_scaled',
       'STA_wspd_scaled', 'STA_wpgt_scaled', 'STA_pres_scaled',
       'STA_tsun_scaled', 'STA_coco_scaled', 'ATA_temp_scaled',
       'ATA_dwpt_scaled', 'ATA_rhum_scaled', 'ATA_prcp_scaled',
       'ATA_snow_scaled', 'ATA_wdir_scaled', 'ATA_wspd_scaled',
       'ATA_wpgt_scaled', 'ATA_pres_scaled', 'ATA_tsun_scaled',
       'ATA_coco_scaled', 'STD_UTC_time_of_day_cosine',
       'STD_UTC_time_of_year_cosine', 'STD_UTC_day_of_year',
       'STD_UTC_week_of_year', 'STD_UTC_weekday', 'STD_UTC_hour_of_day',
       'STA_UTC_time_of_day_cosine', 'STA_UTC_time_of_year_cosine',
       'STA_UTC_day_of_year', 'STA_UTC_week_of_year', 'STA_UTC_weekday',
       'STA_UTC_hour_of_day'],
      dtype='object')

In [47]:
df_filtered = df[[
    'Airline Code', 'Aircraft Registration', 'Operator', 'Type Code',
       'Mode S', 'Serial Number', 'Age(years)', 'FROM', 'TO',
       'Arrival_Delayed', 'Departure_Status',
            ]]
print(df_filtered.dtypes)

Airline Code             category
Aircraft Registration    category
Operator                 category
Type Code                category
Mode S                   category
Serial Number            category
Age(years)                float32
FROM                       object
TO                         object
Arrival_Delayed              bool
Departure_Status           object
dtype: object

In [48]:
df['FROM'] = df['FROM'].astype('category')
df['TO'] = df['TO'].astype('category')
df['Departure_Status'] = df['Departure_Status'].astype('category')

In [50]:
df_filtered = df[[
    'STD_temp_scaled',
       'STD_dwpt_scaled', 'STD_rhum_scaled', 'STD_prcp_scaled',
       'STD_snow_scaled', 'STD_wdir_scaled', 'STD_wspd_scaled',
       'STD_wpgt_scaled', 'STD_pres_scaled', 'STD_tsun_scaled',
       'STD_coco_scaled', 'ATD_temp_scaled', 'ATD_dwpt_scaled',
       'ATD_rhum_scaled', 'ATD_prcp_scaled', 'ATD_snow_scaled',
       'ATD_wdir_scaled', 'ATD_wspd_scaled', 'ATD_wpgt_scaled',
       'ATD_pres_scaled', 'ATD_tsun_scaled', 'ATD_coco_scaled',
       'STA_temp_scaled', 'STA_dwpt_scaled', 'STA_rhum_scaled',
       'STA_prcp_scaled', 'STA_snow_scaled', 'STA_wdir_scaled',
       'STA_wspd_scaled', 'STA_wpgt_scaled', 'STA_pres_scaled',
       'STA_tsun_scaled', 'STA_coco_scaled', 'ATA_temp_scaled',
       'ATA_dwpt_scaled', 'ATA_rhum_scaled', 'ATA_prcp_scaled',
       'ATA_snow_scaled', 'ATA_wdir_scaled', 'ATA_wspd_scaled',
       'ATA_wpgt_scaled', 'ATA_pres_scaled', 'ATA_tsun_scaled',
            ]]
print(df_filtered.dtypes)

STD_temp_scaled    float64
STD_dwpt_scaled    float64
STD_rhum_scaled    float64
STD_prcp_scaled    float64
STD_snow_scaled    float64
STD_wdir_scaled    float64
STD_wspd_scaled    float64
STD_wpgt_scaled    float64
STD_pres_scaled    float64
STD_tsun_scaled    float64
STD_coco_scaled    float64
ATD_temp_scaled    float64
ATD_dwpt_scaled    float64
ATD_rhum_scaled    float64
ATD_prcp_scaled    float64
ATD_snow_scaled    float64
ATD_wdir_scaled    float64
ATD_wspd_scaled    float64
ATD_wpgt_scaled    float64
ATD_pres_scaled    float64
ATD_tsun_scaled    float64
ATD_coco_scaled    float64
STA_temp_scaled    float64
STA_dwpt_scaled    float64
STA_rhum_scaled    float64
STA_prcp_scaled    float64
STA_snow_scaled    float64
STA_wdir_scaled    float64
STA_wspd_scaled    float64
STA_wpgt_scaled    float64
STA_pres_scaled    float64
STA_tsun_scaled    float64
STA_coco_scaled    float64
ATA_temp_scaled    float64
ATA_dwpt_scaled    float64
ATA_rhum_scaled    float64
ATA_prcp_scaled    float64
ATA_snow_scaled    float64
ATA_wdir_scaled    float64
ATA_wspd_scaled    float64
ATA_wpgt_scaled    float64
ATA_pres_scaled    float64
ATA_tsun_scaled    float64
dtype: object

In [51]:
df_filtered = df[[
   'ATA_coco_scaled', 'STD_UTC_time_of_day_cosine',
       'STD_UTC_time_of_year_cosine', 'STD_UTC_day_of_year',
       'STD_UTC_week_of_year', 'STD_UTC_weekday', 'STD_UTC_hour_of_day',
       'STA_UTC_time_of_day_cosine', 'STA_UTC_time_of_year_cosine',
       'STA_UTC_day_of_year', 'STA_UTC_week_of_year', 'STA_UTC_weekday',
       'STA_UTC_hour_of_day'
            ]]
print(df_filtered.dtypes)

ATA_coco_scaled                float64
STD_UTC_time_of_day_cosine     float64
STD_UTC_time_of_year_cosine    float64
STD_UTC_day_of_year              Int64
STD_UTC_week_of_year             Int64
STD_UTC_weekday                  Int64
STD_UTC_hour_of_day              Int64
STA_UTC_time_of_day_cosine     float64
STA_UTC_time_of_year_cosine    float64
STA_UTC_day_of_year              Int64
STA_UTC_week_of_year             Int64
STA_UTC_weekday                  Int64
STA_UTC_hour_of_day              Int64
dtype: object

In [52]:
df['STD_UTC_day_of_year'] = df['STD_UTC_day_of_year'].astype('category')
df['STD_UTC_week_of_year'] = df['STD_UTC_week_of_year'].astype('category')
df['STD_UTC_weekday'] = df['STD_UTC_weekday'].astype('category')
df['STD_UTC_hour_of_day'] = df['STD_UTC_hour_of_day'].astype('category')

df['STA_UTC_day_of_year'] = df['STA_UTC_day_of_year'].astype('category')
df['STA_UTC_week_of_year'] = df['STA_UTC_week_of_year'].astype('category')
df['STA_UTC_weekday'] = df['STA_UTC_weekday'].astype('category')
df['STA_UTC_hour_of_day'] = df['STA_UTC_hour_of_day'].astype('category')

In [53]:

df.to_parquet('CLEANED_V6.1.parquet', engine='pyarrow', index=False)

In [54]:
df

,Airline Code,Aircraft Registration,Operator,Type Code,Mode S,Serial Number,Age(years),FROM,TO,Arrival_Delayed,...,STD_UTC_day_of_year,STD_UTC_week_of_year,STD_UTC_weekday,STD_UTC_hour_of_day,STA_UTC_time_of_day_cosine,STA_UTC_time_of_year_cosine,STA_UTC_day_of_year,STA_UTC_week_of_year,STA_UTC_weekday,STA_UTC_hour_of_day
0,3u-csc,b-30cr,Sichuan Airlines,A20N,781848,8873.0,5.0,YIN,TFU,True,...,244,35,5,3,0.021815,-0.492533,244,35,5,5
1,3u-csc,b-30cr,Sichuan Airlines,A20N,781848,8873.0,5.0,TFU,YIN,False,...,243,35,4,20,0.707107,-0.492533,244,35,5,3
2,3u-csc,b-30cr,Sichuan Airlines,A20N,781848,8873.0,5.0,URC,TFU,True,...,243,35,4,17,0.362438,-0.507430,243,35,4,19
3,3u-csc,b-30cr,Sichuan Airlines,A20N,781848,8873.0,5.0,TFU,URC,False,...,243,35,4,3,-0.642788,-0.507430,243,35,4,8
4,3u-csc,b-30cr,Sichuan Airlines,A20N,781848,8873.0,5.0,ZHA,TFU,False,...,242,35,3,23,0.854912,-0.507430,243,35,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11797410,SQ-SIA,9V-SDA,Singapore Airlines,B78X,76CC81,67157.0,0.0,NGO,SIN,False,...,269,39,2,2,0.793353,-0.084835,269,39,2,2
11797411,SQ-SIA,9V-SDA,Singapore Airlines,B78X,76CC81,67157.0,0.0,CHS,NGO,True,...,268,39,1,5,0.237686,-0.101962,268,39,1,18
11797412,SQ-SIA,9V-SDA,Singapore Airlines,B78X,76CC81,67157.0,0.0,CHS,CHS,True,...,254,37,1,10,-0.928810,-0.336289,254,37,1,13
11797413,SQ-SIA,9V-SDA,Singapore Airlines,B78X,76CC81,67157.0,0.0,CHS,CHS,True,...,245,35,6,15,-0.492424,-0.477489,245,35,6,16
11797414,SQ-SIA,9V-SDA,Singapore Airlines,B78X,76CC81,67157.0,0.0,CHS,CHS,True,...,244,35,5,8,-0.900698,-0.492533,244,35,5,10

In [31]:
print(df.columns)

Index(['Airline Code', 'Aircraft Registration', 'Operator', 'Type Code',
       'Mode S', 'Serial Number', 'Age(years)', 'FROM', 'TO', 'FLIGHT',
       'FLIGHT TIME(mins)', 'ATA_coco', 'Arrival_Delayed', 'Departure_Status',
       'STD_temp_scaled', 'STD_dwpt_scaled', 'STD_rhum_scaled',
       'STD_prcp_scaled', 'STD_snow_scaled', 'STD_wdir_scaled',
       'STD_wspd_scaled', 'STD_wpgt_scaled', 'STD_pres_scaled',
       'STD_tsun_scaled', 'STD_coco_scaled', 'ATD_temp_scaled',
       'ATD_dwpt_scaled', 'ATD_rhum_scaled', 'ATD_prcp_scaled',
       'ATD_snow_scaled', 'ATD_wdir_scaled', 'ATD_wspd_scaled',
       'ATD_wpgt_scaled', 'ATD_pres_scaled', 'ATD_tsun_scaled',
       'ATD_coco_scaled', 'STA_temp_scaled', 'STA_dwpt_scaled',
       'STA_rhum_scaled', 'STA_prcp_scaled', 'STA_snow_scaled',
       'STA_wdir_scaled', 'STA_wspd_scaled', 'STA_wpgt_scaled',
       'STA_pres_scaled', 'STA_tsun_scaled', 'STA_coco_scaled',
       'ATA_temp_scaled', 'ATA_dwpt_scaled', 'ATA_rhum_scaled',
       'ATA_prcp_scaled', 'ATA_snow_scaled', 'ATA_wdir_scaled',
       'ATA_wspd_scaled', 'ATA_wpgt_scaled', 'ATA_pres_scaled',
       'ATA_tsun_scaled', 'STD_UTC_time_of_day_cosine',
       'STD_UTC_time_of_year_cosine', 'STD_UTC_day_of_year',
       'STD_UTC_week_of_year', 'STD_UTC_weekday', 'STA_UTC_time_of_day_cosine',
       'STA_UTC_time_of_year_cosine', 'STA_UTC_day_of_year',
       'STA_UTC_week_of_year', 'STA_UTC_weekday'],
      dtype='object')

In [33]:
import json

with open('weather_scale_params.json', 'r') as file:
    scale_params = json.load(file)
    
# Assuming you can still access the DataFrame `df`
ATA_coco_min = df['ATA_coco'].min()
ATA_coco_max = df['ATA_coco'].max()

# Update the scale_params dictionary to include ATA_coco
scale_params['ATA_coco'] = {
    'min': ATA_coco_min,
    'max': ATA_coco_max
}

# Now, write the updated dictionary back to the JSON file
with open('weather_scale_params.json', 'w') as file:
    json.dump(scale_params, file, indent=4)

# If needed, also apply Min-Max scaling to ATA_coco and store it in the DataFrame
df['ATA_coco_scaled'] = (df['ATA_coco'] - ATA_coco_min) / (ATA_coco_max - ATA_coco_min)

In [34]:
df.to_parquet('CLEANED_V6.parquet', engine='pyarrow', index=False)

In [35]:
print(df.columns)

Index(['Airline Code', 'Aircraft Registration', 'Operator', 'Type Code',
       'Mode S', 'Serial Number', 'Age(years)', 'FROM', 'TO', 'FLIGHT',
       'FLIGHT TIME(mins)', 'ATA_coco', 'Arrival_Delayed', 'Departure_Status',
       'STD_temp_scaled', 'STD_dwpt_scaled', 'STD_rhum_scaled',
       'STD_prcp_scaled', 'STD_snow_scaled', 'STD_wdir_scaled',
       'STD_wspd_scaled', 'STD_wpgt_scaled', 'STD_pres_scaled',
       'STD_tsun_scaled', 'STD_coco_scaled', 'ATD_temp_scaled',
       'ATD_dwpt_scaled', 'ATD_rhum_scaled', 'ATD_prcp_scaled',
       'ATD_snow_scaled', 'ATD_wdir_scaled', 'ATD_wspd_scaled',
       'ATD_wpgt_scaled', 'ATD_pres_scaled', 'ATD_tsun_scaled',
       'ATD_coco_scaled', 'STA_temp_scaled', 'STA_dwpt_scaled',
       'STA_rhum_scaled', 'STA_prcp_scaled', 'STA_snow_scaled',
       'STA_wdir_scaled', 'STA_wspd_scaled', 'STA_wpgt_scaled',
       'STA_pres_scaled', 'STA_tsun_scaled', 'STA_coco_scaled',
       'ATA_temp_scaled', 'ATA_dwpt_scaled', 'ATA_rhum_scaled',
       'ATA_prcp_scaled', 'ATA_snow_scaled', 'ATA_wdir_scaled',
       'ATA_wspd_scaled', 'ATA_wpgt_scaled', 'ATA_pres_scaled',
       'ATA_tsun_scaled', 'STD_UTC_time_of_day_cosine',
       'STD_UTC_time_of_year_cosine', 'STD_UTC_day_of_year',
       'STD_UTC_week_of_year', 'STD_UTC_weekday', 'STA_UTC_time_of_day_cosine',
       'STA_UTC_time_of_year_cosine', 'STA_UTC_day_of_year',
       'STA_UTC_week_of_year', 'STA_UTC_weekday', 'ATA_coco_scaled'],
      dtype='object')

In [40]:
df =df.drop(columns=["ATA_coco"])

In [41]:
print(df.columns)

Index(['Airline Code', 'Aircraft Registration', 'Operator', 'Type Code',
       'Mode S', 'Serial Number', 'Age(years)', 'FROM', 'TO', 'FLIGHT',
       'FLIGHT TIME(mins)', 'Arrival_Delayed', 'Departure_Status',
       'STD_temp_scaled', 'STD_dwpt_scaled', 'STD_rhum_scaled',
       'STD_prcp_scaled', 'STD_snow_scaled', 'STD_wdir_scaled',
       'STD_wspd_scaled', 'STD_wpgt_scaled', 'STD_pres_scaled',
       'STD_tsun_scaled', 'STD_coco_scaled', 'ATD_temp_scaled',
       'ATD_dwpt_scaled', 'ATD_rhum_scaled', 'ATD_prcp_scaled',
       'ATD_snow_scaled', 'ATD_wdir_scaled', 'ATD_wspd_scaled',
       'ATD_wpgt_scaled', 'ATD_pres_scaled', 'ATD_tsun_scaled',
       'ATD_coco_scaled', 'STA_temp_scaled', 'STA_dwpt_scaled',
       'STA_rhum_scaled', 'STA_prcp_scaled', 'STA_snow_scaled',
       'STA_wdir_scaled', 'STA_wspd_scaled', 'STA_wpgt_scaled',
       'STA_pres_scaled', 'STA_tsun_scaled', 'STA_coco_scaled',
       'ATA_temp_scaled', 'ATA_dwpt_scaled', 'ATA_rhum_scaled',
       'ATA_prcp_scaled', 'ATA_snow_scaled', 'ATA_wdir_scaled',
       'ATA_wspd_scaled', 'ATA_wpgt_scaled', 'ATA_pres_scaled',
       'ATA_tsun_scaled', 'STD_UTC_time_of_day_cosine',
       'STD_UTC_time_of_year_cosine', 'STD_UTC_day_of_year',
       'STD_UTC_week_of_year', 'STD_UTC_weekday', 'STA_UTC_time_of_day_cosine',
       'STA_UTC_time_of_year_cosine', 'STA_UTC_day_of_year',
       'STA_UTC_week_of_year', 'STA_UTC_weekday', 'ATA_coco_scaled'],
      dtype='object')

In [42]:
print(df.dtypes)

Airline Code                   category
Aircraft Registration          category
Operator                       category
Type Code                      category
Mode S                         category
                                 ...
STA_UTC_time_of_year_cosine     float64
STA_UTC_day_of_year               Int64
STA_UTC_week_of_year              Int64
STA_UTC_weekday                   Int64
ATA_coco_scaled                 float64
Length: 67, dtype: object

In [43]:
df.to_parquet('CLEANED_V6.parquet', engine='pyarrow', index=False)